{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
    <h1>About Me</h1>
    <div class="row" style="display: flex;align-items: center;">
        <div class="col-sm">
            <img alt="me" src="/static/img/me.png" class="img-fluid">
        </div>
        <div class="col-sm align-middle">
            <div>
                <ul>
                    <li>Working as a Senior Security Analyst at Deloitte.</li>
                    <li>OSCP, CISA, CSX.</li>
                    <li>Master in Cybersecurity Management.</li>
                    <li>Bachelor Degree in Computer Engineering.</li>
                    <li>Once I won 3.000€ in a bag of chips.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}