html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100%;
    padding-top: 5rem;
    font-size: 16px;
    color: #404040;
    padding-bottom: 5rem;
    font-family: 'Noto Sans';
}

.container {
    margin-bottom: 20px;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.img-fluid {
    display: block;
    margin: 10px auto;
    border-radius: 3px;
}

.navbar {
    font-size: 15px;
    padding: .2rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-brand {
    padding: 0;
}

.my-bg-dark {
    background-color: #191919;
}

.about-me-link {
    color: #fff;
}

.about-me-link:hover {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3 {
    color: #000;
    font-variant: all-small-caps;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

h3 {
    font-size: 19px;
    font-weight: bold;
}

.date {
    color: #191919;
    font-size: 80%;
}

.challenge-description {
    background: #f3f3f3;
    padding: 5px 15px;
    border-radius: 5px;
}

.link-box {
    border-radius: 3px;
    border: 1px solid;
    padding: 2px 4px;
    margin: 3px;
    font-size: 90%;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}

.link-box:hover {
    background: #007bff;
    border-color: #007bff;
    text-decoration: none;
    color: #fff;
}

pre.prettyprint {
    white-space: pre;
}

pre.prettyprint.long {
    max-height: 500px;
}

.my-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 80%;
    background-color: #191919;
    color: #c3c3c3;
    padding: 0.5rem 0 0 0;
}

.my-footer p {
    margin-bottom: 0.5rem;
}

.my-footer a:hover {
    text-decoration: none;
}

.index-box {
    display: block;
    border: 2px solid #191919;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.index-box:hover {
    text-decoration: none;
}

.index-box .date:hover {
    color: #191919;
}

.dropdown-item {
    padding: 0 0.8rem;
}