pre .str, code .str { color: #67C0DD; } /* string */
pre .kwd, code .kwd { color: #ea23ff; } /* keyword */
pre .com, code .com { color: #41f134; } /* comment */
pre .typ, code .typ { color: #009dff; } /* type */
pre .lit, code .lit { color: #eacf3f; } /* literal */
pre .pun, code .pun { color: #fff; } /* punctuation */
pre .pln, code .pln { color: #fff; } /* plaintext */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag  */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value */
pre .dec, code .dec { color: #3387CC; } /* decimal */

pre.prettyprint, code.prettyprint {
	background-color: #000;
	border-radius: 8px;
}

pre.prettyprint {
    font-size: 75%;
    padding: 1em;
}

pre.prettyprint.long {
    max-height: 500px;
}