<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>

    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/vendor/prettify.css"/>
    <link rel="stylesheet" href="/static/css/prettify-style.css"/>

    <link rel="stylesheet" href="/static/css/main.css"/>

    <script type="text/javascript" src="/static/js/vendor/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/prettify/prettify.js"></script>
    <title>{{ page.title }} - Hipotermia</title>
</head>
<body onload="PR.prettyPrint()">
<nav class="navbar navbar-expand-md navbar-dark my-bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" height="50" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    CTFs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ctf/hackazon-xmas-2018">Hackazon Xmas 2018</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    HTB
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/htb/secnotes">SecNotes</a>
                </div>
            </li>
        </ul>
        <a class="about-me-link" href="/about-me">About Me</a>
    </div>
</nav>
<main class="container" role="main">
      {{ content }}
</main>
<div id="footer" class="my-footer">
    <p>Twitter: @_hipotermia_</p>
    <p>
        Buy me a beer: 1EkzrH5onDUMX5AR9VHte1iSd98Mrc9aVv [BTC]
    </p>
</div>
</body>
</html>
